@import "../../styles/utilities/_variables"
.home
    margin-top: 10px
    background: $gradient-secondary
    color: white
    text-align: center
    padding: 40px

    h1
        font-size: 36px
        margin: 0

    p
        font-size: 18px
        margin-top: 20px
