.player-info
    text-align: center
    margin: 20px
    padding: 10px
    border: 2px solid #ccc
    border-radius: 5px

.player-name
    font-weight: bold
    margin: 5px 0

.player-photo
    max-width: 100%
    border: 1px solid #000
    border-radius: 50%
    margin: 10px auto

.player-team
    font-style: italic
    color: #666
