@import "../components/_playercard"
@import "../components/_oneplayer"

.players-page
    background: #fff
    .team-info
        display: flex
        flex-direction: column
        align-items: center
        margin: 0
        .team-name
            margin: 0
            padding: 20px 0px
            width: 100%
            color: white
            text-align: center
            font-size: 42px
            font-weight: bold
            background: $gradient-title-background
        section
            display: flex
            flex-direction: row
            align-items: center
            margin: 0px 0px
            .team-description
                margin: 0px 25px
                width: 600px
                font-size: 20px
                text-align: justify
            .team-coach-card
                display: flex
                flex-direction: column
                .coach-name
                    width: 100%
                    border-top: 1px solid #ccc
                    text-align: center
                    margin: 0
                    padding:  10px 0px
                    font-size:  24px
                .coach-img
                    image-rendering: optimizeSpeed
                    margin: 0
                    
                         
                 
    .players-list
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: center
        .player
            display: flex
            flex-direction: column
            align-items: center
            margin: 40px 30px
            width: 500px
            max-height: fit-content
        .player:hover
            scale: 1.1
            transition: all 0.1s

@media screen and (max-width: 1200px)
    .players-page
        .team-info
            .team-data
                display: flex
                flex-direction: column-reverse
                .team-description
                    margin: 10px 0px
                .team-coach-card
                    margin: 10px 0px
@media screen and (max-width: 768px)
    .players-page
        .team-info
            .team-data
                .team-description
                    scale: 0.9
                .team-coach-card
                    scale: 0.9
        .players-list
            .player
                scale: 0.9
                
@media screen and ( max-width: 560px)
    .players-page
        width: 100%
        .team-info
            .team-data
                
                .team-description
                    width: 80%
        .players-list
            display: flex
            flex-direction: column
            align-items: center
            padding: 0px 0px 0px 0px 
            .player
                width: 30px
                font-size: 20px
                scale: 0.7
                &:hover
                    scale: 0.8