.equipo-page
    max-width: 800px
    margin: 0 auto
    padding: 20px
    font-family: Arial, sans-serif

.equipo-info
    background-color: #f0f0f0
    padding: 10px
    border: 1px solid #ddd
    margin-bottom: 20px

.jugadores-list
    margin-top: 20px

.jugador
    display: flex
    align-items: center
    border: 1px solid #ddd
    margin-bottom: 10px
    padding: 10px

.jugador-info
    flex: 1

.jugador-foto img
    max-width: 100px
    max-height: 100px
    border: 1px solid #ddd
