
// estilos.sass
section
    padding: 10px
    ul
        padding: 5px
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        .equipo-item
            width: 100px
            display: flex
            align-items: center
            margin-bottom: 10px
            .equipo-logo
                width: 150px
                margin: 10px
            .equipo-nombre
                font-size: 18px
    .equipos-title

        font-size: 24px
        margin-bottom: 10px
        text-align: center
