
// Colores sólidos

$font-color-blue: #001488
$font-color-purple: #361377

$color-accent: #a72339
$color-accent-high: #FF2A4F

$color-login: #3886b3
$color-login-high: #48a3d8

$color-background: #f1f1f1
$color-background-high: #fff

$color-blue: #6c93ff
$color-blue-high: #506dbd

$color-button-primary: #da4444
$color-button-primary-high: #862233

$color-button-favorite: #ffee00
$color-button-favorite-high: #d4c600

$color-button-white: #ffffff
$color-button-white-high: #919191



// Gradientes
$gradient-primary: linear-gradient(135deg, #3fc2ff, #106b96) // Verde a verde azulado
$gradient-secondary: linear-gradient(135deg, #f38181, #f3722c) // Rojo a naranja
$gradient-tertiary: linear-gradient(135deg, #3c2968, #1d0e42) // Azul marino a verde azulado
$gradient-title-background: linear-gradient(135deg, #ff5353, #d31e1e) // Rojo a azul
// Otros colores
