
// Colores sólidos

$color-accent: #a72339
$color-accent-high: #FF2A4F

$color-login: #3886b3
$color-login-high: #48a3d8


$color-button-primary: #da4444
$color-button-primary-hight: #862233

// Gradientes
$gradient-primary: linear-gradient(135deg, #c5f0a4, #77c29b) // Verde a verde azulado
$gradient-secondary: linear-gradient(135deg, #f38181, #f3722c) // Rojo a naranja
$gradient-tertiary: linear-gradient(135deg, #3c2968, #1d0e42) // Azul marino a verde azulado
$gradient-title-background: linear-gradient(135deg, #ff5353, #d31e1e) // Rojo a azul
// Otros colores
